{% extends 'search.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='items.css' ) }}>
</head>
<div class="content-container">
    <hr>
    <ul>
        {% for element in data %}
        <li>
            <div class="item-box">
                <p>{{element.name}}</p>
                <p>{{element.id}}</p>
                <img src="https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_auto/c_scale,w_700/ncom/en_US/games/switch/m/my-little-pony-a-maretime-bay-adventure-switch/hero">
                <a href="https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_auto/c_scale,w_700/ncom/en_US/games/switch/m/my-little-pony-a-maretime-bay-adventure-switch/hero">link</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</div>