.item_box{
    font-size: 12pt;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    overflow: hidden;
    border: 1px solid rgba(237, 240, 239, 0.791);
}
.item_img{
    max-height: 120px;
    padding-bottom: 0;
}
ul{
    align-content: space-between;
}
li{
    display: inline-grid;
}